# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
.vs/
out/
nppBackup/
Data/*.txt
Data/*.csv
Delivery/Linux/linux-debug/*
Delivery/Windows/x64-debug/*
Delivery/Windows/x64-release/*
Delivery/Windows/x86-debug/*
Delivery/Windows/x86-release/*
